body {
    display: flex;
    justify-content: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-elem {
    border: 2px solid red;
    flex: 1;
}

.hover {
    background-color: black;
}